.container{
    text-align: center;
}
/*body {
    background-image: url('https://images.pexels.com/photos/355904/pexels-photo-355904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    text-align: center;
  }*/